[alias]
	br = branch
	cm = commit 
	cmm = commit -m
	cam = commit -a -m
	co = checkout
	fetch = fetch -p
	gr = reset --hard HEAD
	logg = log --oneline --graph --color --decorate --all
	logo = log --oneline
	st = status -s
	
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = "/usr/local/bin/kdiff3"
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path = "/usr/local/bin/kdiff3"
	
[diff]
        compactionHeuristic = true

[push]
	default = current

